#cloud-config

# cloud-init file defining cluster-specific credentials

# Make sure to combine command lists
merge_how:
 - name: list
   settings: [append]
 - name: dict
   settings: [no_replace, recurse_list]

write_files:
  - path: /opt/etc/kubernetes-credentials.env
    content: |
      # URL to Kubernetes head node
      JOIN_ENDPOINT=""
      # Certificate hash to authenticate head node
      JOIN_CERT_HASH=""
      # Secret to authenticate *to* head node
      JOIN_TOKEN=""
