#cloud-config

# cloud-init file defining cluster-specific credentials
# We expect to be run alongside a cloud-config that makes a
# /opt/etc/kubernetes-credentials.env defining JOIN_ENDPOINT, JOIN_CERT_HASH,
# JOIN_TOKEN, and optionally WORKER_LABEL_SPEC

# Make sure to combine command lists
merge_how:
 - name: list
   settings: [append]
 - name: dict
   settings: [no_replace, recurse_list]

write_files:
  - path: /opt/etc/kubernetes-credentials.env
    content: |
      # URL to Kubernetes head node
      JOIN_ENDPOINT=""
      # Certificate hash to authenticate head node
      JOIN_CERT_HASH=""
      # Secret to authenticate *to* head node
      JOIN_TOKEN=""
      # Labels to apply to the node.
      # Could be something like "node-labels: 'eks.amazonaws.com/capacityType=SPOT'"
      WORKER_LABEL_SPEC=""
      # Taints to apply to the node.
      # Could be something like "register-with-taints: 'cloud.google.com/gke-preemptible=true:NoSchedule'"
      WORKER_TAINT_SPEC=""
